<html>

<head>
  <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  <title>Acme-directory-with-managers</title>
</head>
<div class='container'>
  <ul class='nav nav-pills'>
    <li class='nav-item'>
      <a class='nav-link' {% if path==='/' %} active {% endif %} href="/">Home</a>
    </li>
    <li>
      <a class='nav-link' {% if path==='/employees' %} active {% endif %} href="/employees">Employees</a>
    </li>
  </ul>
  <div class='container'>
    <h2>We have {{ employeeCount }} employees and {{ managerCount }} managers!</h2>
  </div>
  {% block content %} {% endblock %}
</div>

</html>
